@page
@* @using FamilyHubs.SharedKernel.Razor.FamilyHubsUi.Extensions *@
@using FamilyHubs.SharedKernel.Razor.Summary
@using Microsoft.AspNetCore.Mvc.TagHelpers
@* @using NetEscapades.AspNetCore.SecurityHeaders.TagHelpers
@addTagHelper *, NetEscapades.AspNetCore.SecurityHeaders.TagHelpers *@
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_services.Locations_For_ServiceModel
@{
    string title = $"Locations for {Model.ServiceModel!.Name}";
    ViewData["Title"] = title;

    string redo = ServiceJourneyPage.Locations_For_Service.GetSlug();

    bool hasLocations = Model.Locations.Any();
}

@* After implementing the following hack, I found that the bug wouldn't trigger,
    if the submit buttons' name attributes were set to 'sub'!
    I'll leave the hack here for now in case the issue reappears.
*@

@* @section Head {@{
    // If analytic cookies have been rejected by the user, or the user hasn't made a choice yet,
    // GA adds a submit event listener, that replaces the page's name on submit
    // with either [object RadioNodeList] or other javascript object type names, depending on the name of the submit button!
    // If you manually remove GA's submit event handler in the browser, everything is hunky dory.
    // (If analytic cookies haven't been enabled, GA modifies the location instead to track users.
    // Presumable there's a bug in the code it uses to rewrite the location.)
    // This is a workaround to not enable analytics, if the user hasn't accepted analytic cookies.

    var familyHubsLayoutModel = ViewData.GetFamilyHubsLayoutModel();
    var familyHubsUiOptions = familyHubsLayoutModel.FamilyHubsUiOptions.Value;

    if (!string.IsNullOrEmpty(familyHubsUiOptions.Analytics?.CookieName))
    {
        <script asp-add-nonce>
            (function() {
                function isAnalyticsEnabled(options) {
                    return (options && options.version >= window.GDS_CONSENT_COOKIE_VERSION && options.analytics == true);
                }

                var currentConsentCookie = document.cookie.match(new RegExp('(^| )@(familyHubsUiOptions.Analytics.CookieName)=([^;]+)'))

                if (!currentConsentCookie || !isAnalyticsEnabled(JSON.parse(currentConsentCookie[2]))) {
                    window.GA_MEASUREMENT_ID = null;
                    console.log('Analytics disabled');
                } else {
                    console.log('Analytics left on');
                }
            })()
        </script>
    }
}}*@

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@title</h1>

        @if (hasLocations)
        {
            <p>These locations will be added to this service.</p>
        }
        else
        {
            <p>No locations have been added to this service yet.</p>
        }
            
        @{
            int locationIndex = 0;
            foreach (var location in Model.Locations)
            {
                ++locationIndex;
                    <summary-card title="Location @locationIndex"
                                  action1="Remove location from this service" action1-href="@(Model.GetServicePageUrl(ServiceJourneyPage.Remove_Location))&locationId=@location.Id">
                        <summary-row key="Address" class="fh-pre-wrap">@string.Join(Environment.NewLine, location.Address)</summary-row>
                        <summary-row key="Family hub">
                            @* todo: common, add to display code *@
                            @(location.IsFamilyHub ? "Yes" : "No")
                        </summary-row>
                        <summary-row key="Location details" class="fh-pre-wrap">@location.Description</summary-row>
                        <summary-row key="Days service is available" show-empty
                                     action1="Change" action1-href="@(Model.GetServicePageUrl(ServiceJourneyPage.Times_At_Location))&locationId=@location.Id&redo=@redo">
                            @location.Times.GetDayNames()
                        </summary-row>
                        <summary-row key="Extra availability details" show-empty class="fh-pre-wrap"
                                     action1="Change" action1-href="@(Model.GetServicePageUrl(ServiceJourneyPage.Time_Details_At_Location))&locationId=@location.Id&redo=@redo">@(location.TimeDescription.GetDisplay())</summary-row>
                    </summary-card>
            }
        }
        <div class="govuk-button-group">
            <form method="post" novalidate>
                <button type="submit" class="govuk-button" data-module="govuk-button"
                        name="@Locations_For_ServiceModel.SubmitAction" value="@Locations_For_ServiceModel.SubmitAction_Continue">
                    Continue
                </button>
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button"
                        name="@Locations_For_ServiceModel.SubmitAction" value="@Locations_For_ServiceModel.SubmitAction_AddAnotherLocation">
                    @if (hasLocations)
                    {
                        <text>Add another location</text>
                    }
                    else
                    {
                        <text>Add location</text>
                    }
                </button>
            </form>
        </div>

    </div>
</div>