@page
@using FamilyHubs.ServiceDirectory.Shared.Display
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_services.Select_LocationModel
@{
    ViewData["Title"] = "Search and select a location to add to this service";

    Model.Errors.ErrorIdToHtmlElementId = errorId => "select-location-location";

    var error = Model.Errors.GetErrorIfTriggered();
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

<partial name="_ErrorSummaryNext" for="@Model.Errors" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Search and select a location to add to this service</h1>
        
        @if (Model.OrganisationName != null)
        {
            <p>Only locations that have been added for your @Model.OrganisationName will appear here.</p>
        }

        <form method="post" novalidate>

            <div class="govuk-form-group @error?.FormGroupClass">
                
                <partial name="_ErrorMessageNext" model="@error" />

                <select id="select-location-location" name="location" class="govuk-select @error?.SelectClass">
                    <!option value="@Select_LocationModel.NoSelectionLocationId"></!option>

                    @foreach (var location in Model.Locations)
                    {
                        <!option value="@location.Id"
                                 @(location.Id == Model.SelectedLocationId ? "selected" : "")
                                 >@string.Join(", ", location.Description)</!option>
                    }
                </select>
            </div>

            <p>If the location does not appear here you can <a href="/manage-locations/start-add-location?journey=@Journey.Service">add a new location</a>.</p>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>