@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_services.Select_LocationModel
@{
    ViewData["Title"] = "Search and select a location to add to this service";
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Search and select a location to add to this service</h1>
        
        @if (Model.OrganisationName != null)
        {
            <p>Only locations that have been added for your @Model.OrganisationName will appear here.</p>
        }

        <form method="post" novalidate>
            
            <select id="location" name="location" class="govuk-select">
                @foreach (var location in Model.Locations)
                {
                    <!option value="@location.Id"
                             @(location.Id == @Model.SelectedLocationId ? "selected" : "")
                             @* @(option.Value == What_LanguageModel.NoLanguageValue ? "disabled" : "") *@
                             @* todo: there's a helper for this *@
                             >@string.Join(", ", location.Name, location.Address1)</!option>
                }
                @* add the invalid language as an option, so that we can be selected initially in the autocomplete *@
                @* todo: this means that the invalid language is now in the drop-down, which isn't ideal *@
@*                 @if (item.Value == What_LanguageModel.InvalidNameValue)
                {
                    <option value="@item.Value" selected hidden disabled>@item.Text</option>
                } *@
            </select>


            <p>If the location does not appear here you can <a href="/manage-locations/start-add-location?journey=@Journey.Service">add a new location</a>.</p>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>