@page
@using FamilyHubs.ServiceDirectory.Shared.Enums
@using FamilyHubs.SharedKernel.Enums
@using FamilyHubs.SharedKernel.Identity
@using FamilyHubs.SharedKernel.Razor.Summary
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_services.Service_DetailModel
@{
    var service = Model.ServiceModel ?? throw new ArgumentNullException(nameof(Model.ServiceModel));

    string title, cta;
    if (Model.Flow == JourneyFlow.Edit)
    {
        title = service.Name!;
        cta = "Save";
    }
    else
    {
        title = "Check the details and add service";
        cta = "Confirm details and add service";
    }

    //todo: can we handle with using the back param? (or possibly the ChangeFlow value)
    string redo = ServiceJourneyPage.Service_Detail.GetSlug();

    int locationsCount = service.AllLocations.Count();

    ViewData["Title"] = title;
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@title</h1>

        <h2 class="govuk-heading-m">Service details</h2>
        
        <summary-list class="govuk-!-margin-bottom-9">

            @if (Model.FamilyHubsUser.Role == RoleTypes.DfeAdmin)
            {
                <summary-row key="Local authority"
                             action1="Change" action1-href="@Model.GetServicePageUrl(ServiceJourneyPage.Local_Authority, ServiceJourneyChangeFlow.LocalAuthority)">
                    @Model.LaOrganisationName
                </summary-row>

                @if (service.ServiceType == ServiceTypeArg.Vcs)
                {
                    <summary-row key="Organisation"
                                 action1="Change" action1-href="@Model.GetServicePageUrl(ServiceJourneyPage.Vcs_Organisation, ServiceJourneyChangeFlow.SinglePage)">
                        @Model.OrganisationName
                    </summary-row>
                }
            }

            <summary-row key="Name"
                         action1="Change" action1-href="@Model.GetServicePageUrl(ServiceJourneyPage.Service_Name, ServiceJourneyChangeFlow.SinglePage)">
                @service.Name
            </summary-row>

            <summary-row key="Support it offers"
                         action1="Change" action1-href="@Model.GetServicePageUrl(ServiceJourneyPage.Support_Offered, ServiceJourneyChangeFlow.SinglePage)">
                @foreach (var categoryId in service.SelectedSubCategories)
                {
                    var categoryName = Service_DetailModel.TaxonomyIdToName?[categoryId];
                    if (categoryName != null)
                    {
                        @categoryName
                        <br/>
                    }
                }
            </summary-row>

            <summary-row key="Description" show-empty class="fh-pre-wrap" action1="Change"
                         action1-href="@Model.GetServicePageUrl(ServiceJourneyPage.Service_Description, ServiceJourneyChangeFlow.SinglePage)">@service.Description</summary-row>

            <summary-row key="Does support relate to children or young people?"
                         action1="Change" action1-href="@Model.GetServicePageUrl(ServiceJourneyPage.Who_For, ServiceJourneyChangeFlow.SinglePage)">
                @if (service.ForChildren == false)
                {
                    <text>No</text>
                }
                else
                {
                    @* could be 0 years old (like Find & Connect) or 0 to 12 months, but 0 to 12 months to 1 year, for example looks odd! *@
                    <text>Yes - @AgeToString(service.MinimumAge!.Value) years old to @AgeToString(service.MaximumAge!.Value) years old</text>
                }
            </summary-row>

            <summary-row key="Languages" show-empty
                         action1="Change" action1-href="@Model.GetServicePageUrl(ServiceJourneyPage.What_Language, ServiceJourneyChangeFlow.SinglePage)">
                @string.Join(", ", service.LanguageCodes!
                    .Select(lc => ServiceDirectory.Shared.ReferenceData.Languages.CodeToName[lc])
                    .OrderBy(name => name))

                @if (service.BritishSignLanguage == true || service.TranslationServices == true)
                {
                    <br/>
                    if (service.BritishSignLanguage == true)
                    {
                        <text>British Sign Language</text>
                        if (service.TranslationServices == true)
                        {
                            <text> and translation services</text>
                        }
                    }
                    else
                    {
                        <text>Translation services</text>
                    }

                    <text> available on request</text>
                }
            </summary-row>

            <summary-row key="Cost"
                         action1="Change" action1-href="@Model.GetServicePageUrl(ServiceJourneyPage.Service_Cost, ServiceJourneyChangeFlow.SinglePage)">
                @if (service.HasCost == true)
                {
                    <text>Yes - @service.CostDescription</text>
                }
                else
                {
                    <text>No, it is free to use.</text>
                }
            </summary-row>
        </summary-list>

        <h2 class="govuk-heading-m">Using this service</h2>
        <summary-list class="govuk-!-margin-bottom-9">

            <summary-row key="How this service is provided" show-empty
                         action1="Change" action1-href="@Model.GetServicePageUrl(ServiceJourneyPage.How_Use, ServiceJourneyChangeFlow.HowUse)">
                @string.Join(", ", service.HowUse.Select(hu => hu.ToDescription()))
            </summary-row>
            
            @if (service.HowUse.Contains(AttendingType.InPerson))
            {
                string? locationAction;
                ServiceJourneyPage? locationPage, backPage = null;
                if (locationsCount == 0)
                {
                    locationAction = "Add";
                    locationPage = ServiceJourneyPage.Select_Location;
                    backPage = ServiceJourneyPage.Service_Detail;
                }
                else
                {
                    locationAction = "Add or remove";
                    locationPage = ServiceJourneyPage.Locations_For_Service;
                }
                var redoLocationUrl = Model.GetServicePageUrl(locationPage.Value, ServiceJourneyChangeFlow.Location, backPage);

                <summary-row key="Locations" show-empty action1="@locationAction" action1-href="@redoLocationUrl">
                    @switch (locationsCount)
                    {
                        case 0:
                            <text>No locations</text>
                            break;
                        case 1:
                            <text>1 Location</text>
                            break;
                        default:
                            <text>@locationsCount Locations</text>
                            break;
                    }
                </summary-row>
            }
        </summary-list>

        @if (locationsCount > 0)
        {
            int locationNumber = 0;
            foreach (var location in service.AllLocations)
            {
                <h3 class="govuk-heading-m">Location @(++locationNumber)</h3>
                <summary-list class="govuk-!-margin-bottom-9">

                    <summary-row key="Address" show-empty>
                        @string.Join(", ", location.Address)
                    </summary-row>

                    @* todo: does this condition apply here?*@
                    @*@if (Model.FamilyHubsUser.Role is not (RoleTypes.VcsDualRole or RoleTypes.VcsManager))*@
                    <summary-row key="Family hub">
                        @(location.IsFamilyHub ? "Yes" : "No")
                    </summary-row>

                    <summary-row key="Location details" show-empty class="fh-pre-wrap">@location.Description.GetDisplay()</summary-row>
                    
                    <summary-row key="Days service is available" show-empty
                                 action1="Change" action1-href="@(Model.GetServicePageUrl(ServiceJourneyPage.Times_At_Location, ServiceJourneyChangeFlow.SinglePage))&locationId=@location.Id&redo=@redo">
                        @location.Times.GetDayNames()
                    </summary-row>
                    @*todo: same data, different key to location-for-service page*@
                    <summary-row key="Extra availability details" show-empty class="fh-pre-wrap"
                                 action1="Change" action1-href="@(Model.GetServicePageUrl(ServiceJourneyPage.Time_Details_At_Location, ServiceJourneyChangeFlow.SinglePage))&locationId=@location.Id&redo=@redo">@location.TimeDescription.GetDisplay()</summary-row>

                </summary-list>
            }
        }

        @{
            List<AttendingType> howUse = new();
            if (locationsCount == 0 && service.HowUse.Contains(AttendingType.InPerson))
            {
                howUse.Add(AttendingType.InPerson);
            }
            howUse.AddRange(service.HowUse.Where(hu => hu != AttendingType.InPerson));
        }

        @if (howUse.Any())
        {
            <h3 class="govuk-heading-m">@string.Join(", ", howUse.Select(h => h.ToDescription()))</h3>
            <summary-list class="govuk-!-margin-bottom-9">
                <summary-row key="Days service is available" show-empty
                             action1="Change" action1-href="@Model.GetServicePageUrl(ServiceJourneyPage.Times, ServiceJourneyChangeFlow.SinglePage)">
                    @service.Times.GetDayNames()
                </summary-row>

                <summary-row key="Extra availability details" show-empty class="fh-pre-wrap"
                             action1="Change" action1-href="@Model.GetServicePageUrl(ServiceJourneyPage.Time_Details, ServiceJourneyChangeFlow.SinglePage)">@service.TimeDescription.GetDisplay()</summary-row>
            </summary-list>
        }

        <h2 class="govuk-heading-m">Further information</h2>
        <summary-list class="govuk-!-margin-bottom-9">
            <summary-row key="Contact details" show-empty action1="Change"
                         action1-href="@Model.GetServicePageUrl(ServiceJourneyPage.Contact, ServiceJourneyChangeFlow.SinglePage)">
                @if (service.HasEmail)
                {
                    <p>@service.Email</p>
                }
                @if (service.HasTelephone)
                {
                    <p>@service.TelephoneNumber</p>
                }
                @if (service.HasWebsite)
                {
                    <p>@service.Website</p>
                }
                @if (service.HasTextMessage)
                {
                    <p>@service.TextTelephoneNumber</p>
                }

            </summary-row>

            <summary-row key="More details" show-empty class="fh-pre-wrap" action1="Change"
                         action1-href="@Model.GetServicePageUrl(ServiceJourneyPage.Service_More_Details, ServiceJourneyChangeFlow.SinglePage)">@service.MoreDetails.GetDisplay()</summary-row>
        </summary-list>

        @if (Model.Flow != JourneyFlow.Edit || Model.ServiceModel!.Updated)
        {
            <form method="post" novalidate>
                <button class="govuk-button" data-module="govuk-button">@cta</button>
            </form>
        }
    </div>
</div>

@functions {
    // todo: move to sd shared
    private static string AgeToString(int age)
    {
        return age == 127 ? "25+" : age.ToString();
    }
}
