@page
@using FamilyHubs.SharedKernel.Razor.ErrorNext
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_services.Service_DescriptionModel
@{
    ViewData["Title"] = Model.TextBoxLabel;
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

@{
    Model.Errors.ErrorIdToHtmlElementId = _ => "text-area";
}

<partial name="_ErrorSummaryNext" model="Model.Errors" />


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post" novalidate>

            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="@Model.MaxLength">
                <div class="govuk-form-group">

                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="text-area">
                            @Model.TextBoxLabel
                        </label>
                    </h1>
                    <p>Provide a brief summary of the support and activities offered. You do not need to add information such as opening times and contact details at this stage.</p>

                    @{
                        Error? error = Model.Errors.GetErrorIfTriggered();
                    }

                    <div class="govuk-form-group @(error?.FormGroupClass)">
                        @if (error != null)
                        {
                            <p class="govuk-error-message" id="reason-error">
                                <span class="govuk-visually-hidden">Error:</span> @error.Message
                            </p>
                        }

                        <textarea class="govuk-textarea govuk-js-character-count @(error?.TextAreaClass)" id="text-area" name="UserInput.Description" rows="4"
                                  aria-describedby="text-area-info @(error != null ? "reason-error" : "")">@Model.UserInput.Description</textarea>

                    </div>
                    <div id="text-area-info" class="govuk-hint govuk-character-count__message">
                        You can enter a maximum of @Model.MaxLength characters
                    </div>

                </div>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
