@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_services.What_LanguageModel
@{
    ViewData["Title"] = "Which language is the service offered in?";

    Model.Errors.ErrorIdToHtmlElementId = errorId => $"language-{Model.ErrorToSelectIndex?[errorId] ?? 0}";
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

<partial name="_ErrorSummaryNext" for="@Model.Errors" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div data-module="moj-add-another">
            @* todo: tabindex *@
            <h1 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Which language is the service offered in?</h1>
            <form method="post">
                @foreach (var (languageCode, index) in Model.LanguageCodes.Select((code, index) => (code, index)))
                {
                    <fieldset class="govuk-fieldset moj-add-another__item">
                        <div class="govuk-form-group">
                            <label for="language-@index" class="govuk-label">Enter a language</label>
                            @* todo: should be autocomplete text box *@
                            @* the way add-another works, we need data-name for data-id to work *@
                            <select name="language" class="govuk-select" id="language-@index" data-name="language" data-id="language-%index%">
                                @foreach (var option in Model.LanguageOptions)
                                {
                                    <!option value="@option.Value"
                                             @(option.Value == languageCode ? "selected" : "")
                                             @(option.Value == What_LanguageModel.AllLanguagesValue ? "disabled" : "")>@option.Text</!option>
                                }

                            </select>
                        </div>
                        @if (Model.LanguageCodes.Count() > 1)
                        {
                            @* removed moj-add-another__remove-button as the prototype just undoes all it's css and it's not referenced by the js *@
                            <button type="submit" name="button" value="remove-@index" class="govuk-button govuk-button--secondary moj-add-another__remove-button">Remove</button>
                        }
                    </fieldset>
                }
                
                @* moj-button-action doesn't seem to exist*@
                @*                 <div class="moj-button-action"> *@
                    <button type="submit" name="button" value="add" class="govuk-button moj-add-another__add-button govuk-button--secondary govuk-!-margin-bottom-4" data-module="govuk-button">Add another language</button>
@*                 </div> *@

                <h2 class="govuk-heading-m">
                    Can you offer language support?
                </h2>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input asp-for="TranslationServices" class="govuk-checkboxes__input" type="checkbox">
                                <label asp-label-for="TranslationServices" class="govuk-label govuk-checkboxes__label">
                                    Translation services on request
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input asp-for="BritishSignLanguage" class="govuk-checkboxes__input" type="checkbox">
                                <label asp-label-for="BritishSignLanguage" class="govuk-label govuk-checkboxes__label">
                                    British Sign Language on request
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
@*                 <div class="moj-button-action"> *@
                    <button class="govuk-button" data-module="govuk-button">Continue</button>
@*                 </div> *@
            </form>
        </div>
    </div>
</div>