@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_services.who_forModel
@{
    if (Model.ViewModel == null)
    {
        throw new InvalidOperationException($"{nameof(ViewModel)} cannot be null");
    }

    ViewData["Title"] = "Is the support offered by this service related to children or young people?";

    Model.Errors.ErrorIdToHtmlElementId = errorId => errorId switch
    {
        (int)ErrorId.Who_For__SelectChildrensService => "ViewModel_Children_Yes",
        (int)ErrorId.Who_For__SelectFromAge
            or (int)ErrorId.Who_For__FromAgeAfterToAge
            or (int)ErrorId.Who_For__SameAges => "ViewModel_FromAge",   // oui, Gromit!
        (int)ErrorId.Who_For__SelectToAge => "ViewModel_ToAge",
        _ => throw new SwitchExpressionException(errorId)
    };

    var selectChildrenServiceError = Model.Errors.GetErrorIfTriggered((int)ErrorId.Who_For__SelectChildrensService);
    var fromAgeError = Model.Errors.GetErrorIfTriggered(
        (int)ErrorId.Who_For__SelectFromAge, (int)ErrorId.Who_For__FromAgeAfterToAge, (int)ErrorId.Who_For__SameAges);
    var toAgeError = Model.Errors.GetErrorIfTriggered((int)ErrorId.Who_For__SelectToAge);
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

<partial name="_ErrorSummaryNext" model="Model.Errors" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <fieldset class="govuk-fieldset" aria-describedby="@(selectChildrenServiceError?.InputErrorMessageParaId)">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Is the support offered by this service related to children or young people?
                </h1>
            </legend>

            <form method="post" novalidate>
                <div class="govuk-form-group @(selectChildrenServiceError?.FormGroupClass)">

                    <partial name="_ErrorMessageNext" model="selectChildrenServiceError" />

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" asp-for="ViewModel!.Children" type="radio" value="true" aria-controls="age-range" id="ViewModel_Children_Yes">
                            <label class="govuk-label govuk-radios__label" for="ViewModel_Children_Yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="age-range">
                            <div class="govuk-form-group @(fromAgeError?.FormGroupClass)">
                                <label class="govuk-label" asp-for="ViewModel!.FromAge">
                                    From
                                </label>
                                <partial name="_ErrorMessageNext" model="fromAgeError" />
                                <select asp-for="ViewModel!.FromAge" asp-items="Model.MinimumAges" class="govuk-select" aria-describedby="@(fromAgeError?.InputErrorMessageParaId)"></select>
                                <input type="hidden" asp-for="ViewModel!.FromAge" id="from-age-hidden">
                            </div>
                            <div class="govuk-form-group  @(toAgeError?.FormGroupClass)">
                                <label class="govuk-label" asp-for="ViewModel!.ToAge">
                                    To
                                </label>
                                <partial name="_ErrorMessageNext" model="toAgeError" />
                                <select asp-for="ViewModel!.ToAge" asp-items="Model.MaximumAges" class="govuk-select" aria-describedby="@(toAgeError?.InputErrorMessageParaId)"></select>
                                <input type="hidden" asp-for="ViewModel!.ToAge" id="to-age-hidden">
                            </div>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" asp-for="ViewModel!.Children" type="radio" value="false" id="ViewModel_Children_No">
                            <label class="govuk-label govuk-radios__label" for="ViewModel_Children_No">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </form>
        </fieldset>
    </div>
</div>
