@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.AccountAdmin.Pages.ManagePermissions.IndexModel
@using System.Linq
@using System.Web;
@{
}

<table class="govuk-table" data-module="moj-sortable-table">

    <thead class="govuk-table__head">
        <tr class="govuk-table__row">

            <component type="typeof(Components.SortHeaderComponent)" param-Title='"Name"' param-Name='"Name"' param-SortBy='@Model.SortBy' param-Style='"width: 20%"' param-DataIndex='0' render-mode="Static" />

            <component type="typeof(Components.SortHeaderComponent)" param-Title='"Email address"' param-Name='"Email"' param-SortBy='@Model.SortBy' param-Style='"width: 40%"' param-DataIndex='1' render-mode="Static" />

            <component type="typeof(Components.SortHeaderComponent)" param-Title='"Works for"' param-Name='"Organisation"' param-SortBy='@Model.SortBy' param-Style='"width: 20%"' param-DataIndex='2' render-mode="Static" />

            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 20%" aria-sort="none"></th>

        </tr>
    </thead>

    <tbody class="govuk-table__body">

        @foreach(var account in Model.PaginatedList.Items)
        {
            <tr class="govuk-table__row">

                <td class="govuk-table__cell">@account.Name</td>

                <td class="govuk-table__cell" style="overflow-wrap: anywhere">@account.Email</td>

                <td class="govuk-table__cell">@IndexModel.OrganisationName(account)</td>

                <td class="govuk-table__cell govuk-table__cell--numeric">
                    <a class="govuk-!-margin-right-1" href="ManagePermissions/Edit?email=@HttpUtility.UrlEncode(account.Email)">Edit</a>
                    <a class="govuk-!-margin-right-0" asp-page="/PlaceHolder">Delete</a>
                </td>

            </tr>
        }

    </tbody>
</table>

<partial name="_LargeSetPaginationForm" model='Model.Pagination' />