@page "/AccountAdmin/ManagePermissions/{AccountId}"
@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.AccountAdmin.Pages.ManagePermissions.EditModel
@{
    ViewData["Title"] = Model.Name;
    Layout = "~/pages/Shared/_Layout.cshtml";
}

@section Back {
    <a href="@Model.BackPath" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l app-wrap-anywhere">@Model.Name</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <summary-list>
            <summary-row key="Name">@Model.Name</summary-row>
            <summary-row key="Email" action1="Edit" action1-href="/AccountAdmin/ManagePermissions/@Model.Id/Email">@Model.Email</summary-row>
            <summary-row key="Works for">@Model.Organisation</summary-row>
            <summary-row key="What they do" action1="Edit" action1-href="/AccountAdmin/ManagePermissions/@Model.Id/Roles">@Model.Role</summary-row>
        </summary-list>
        <p><a href="@Model.BackPath">Back to manage user accounts</a></p>
    </div>
</div>
