@model FamilyHubs.ServiceDirectory.Admin.Core.Models.CheckDetailsRowModel

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        @Model.Name
    </dt>
    <dd class="govuk-summary-list__value" id="@Model.Id">
        @Model.Value
    </dd>
    <dd class="govuk-summary-list__actions">
        @if (!string.IsNullOrEmpty(Model.ChangeLocation))
        {
            <a class="govuk-link" href="@Model.ChangeLocation">
                @Model.ChangeAnchorText<span class="govuk-visually-hidden"> name</span>
            </a>
        }
    </dd>
</div>