@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.staged.CategoryDisplay

<summary-card title="@Model.Name">
    @* todo, remove flag and just check for any instances *@
    @if (!Model.Category.Flag)
    {
        @* todo: or just paragraph *@
        <p>None</p>
    }
    else
    {
        //todo: card probably not suitable for display?
        @foreach (var instance in Model.Category.Instances)
        {
            @if (!string.IsNullOrEmpty(instance.SuggestedReplacement))
            {
                <summary-row key="@instance.Reason"
                action1="Edit" action1-href=""
                action2="Accept suggestion">@instance.Content</summary-row>
            }
            else
            {
                <summary-row key="@instance.Reason"
                             action1="Edit" action1-href="">@instance.Content</summary-row>
            }
        }
    }
</summary-card>