@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.staged.CategoryDisplay

<summary-card title="@Model.Name">
    @* todo, remove flag and just check for any instances *@
    @if (Model.Category?.Flag == true)
    {
        //todo: card probably not suitable for display?
        @foreach (var instance in Model.Category!.Instances)
        {
            @if (!string.IsNullOrEmpty(instance.SuggestedReplacement))
            {
                <summary-row key="@instance.Reason"
                             action1="Edit" action1-href="">@instance.Content</summary-row>
                <summary-row key="Suggested replacement"
                             action1="Accept suggestion" action1-href="">@instance.SuggestedReplacement</summary-row>
            }
            else
            {
                <summary-row key="@instance.Reason"
                             action1="Edit" action1-href="">@instance.Content</summary-row>
            }
        }
    }
    else
    {
        <p>None</p>
    }
</summary-card>