@using FamilyHubs.ServiceDirectory.Admin.Core.Models
@model TimeModel
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="@Model.Component.HintId">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            @Model.Component.Description
        </legend>
        <div class="govuk-date-input">
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="@(Model.Component.Name)Hour">
                        Hour
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                           id="@(Model.Component.Name)Hour" name="@(Model.Component.Name)Hour"
                           type="text" inputmode="numeric" value="@Model.Hour">
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="@(Model.Component.Name)Minute">
                        Minute
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                           id="@(Model.Component.Name)Minute" name="@(Model.Component.Name)Minute"
                           type="text" inputmode="numeric" value="@Model.Minute">
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label govuk-visually-hidden" for="@(Model.Component.Name)Ampm">
                        Am or pm
                    </label>
                    <select class="govuk-select govuk-date-input__input app-ampm" id="@(Model.Component.Name)Ampm" name="@(Model.Component.Name)Ampm">
                        <!option value="am" @IsSelected(Model, AmPm.Am)>am</!option>
                        <!option value="pm" @IsSelected(Model, AmPm.Pm)>pm</!option>
                    </select>

                </div>
            </div>
        </div>
    </fieldset>
</div>

@functions {
    static string IsSelected(TimeModel model, AmPm amPm)
    {
        if (model.AmPm.HasValue)
        {
            return model.AmPm == amPm ? "selected" : "";
        }
        return model.Component.DefaultAmPm == amPm ? "selected" : "";
    }
}