@page "{id:Guid}"
@model LocalOfferDetailModel
@{
}

@*<a asp-page="/LocalOfferResults" class="govuk-back-link">Back</a>*@

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Your Selected Service
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2"><label><span style="color:blue" class="govuk-!-font-weight-bold govuk-body govuk-!-font-size-24">@Model.LocalOffer.Name</span></label></h2>
      <p class="govuk-body govuk-!-margin-bottom-7">@Model.LocalOffer.Description</p>

      <ul class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            Details
          </h2>
          <ul class="app-task-list__items">
            @if(Model.LocalOffer.Eligibilities != null)
            {
                foreach(var eligability in Model.LocalOffer.Eligibilities)
                {
                     <li><label>Minimum Age:  </label>@eligability.MinimumAge</li>  
                     <li><label>Minimum Age:  </label>@eligability.MaximumAge</li>
                }          
            }
            
               @*         <li><label>Minimum Age:  </label>@Model.LocalOffer..MinimumAge</li>
                <li><label>Minimum Age:  </label>@Model.LocalOffer.MaximumAge</li>
                <li><label>Cost:         </label>@Model.LocalOffer.CostAmount</li>
                <li><label>OpeningHours: </label>@Model.LocalOffer.OpeningHours</li>*@
          </ul>
        </li>

         <li>
          <h2 class="app-task-list__section">
            Support For
          </h2>
          <ul class="app-task-list__items">
            @if(Model.LocalOffer.ServiceTaxonomies != null)
            {
                            @foreach (var seviceTaxonomy in Model.LocalOffer.ServiceTaxonomies)
                            {
                    if (seviceTaxonomy != null)
                    {
                       <li>@seviceTaxonomy?.Taxonomy?.Vocabulary</li>               
                    }
                }          
            }
          </ul>
        </li>

        @if(Model.LocalOffer.LinkContacts != null)
        {
             <li>
              <h2 class="app-task-list__section">
                Contact
              </h2>
              @foreach(var contactItem in Model.LocalOffer.LinkContacts)
              {
                  <ul class="app-task-list__items no-bullets">
                        <li><label>Name: </label>@contactItem.Contact.Title &nbsp; @contactItem.Contact.Name</li>
                        @*<li>@Model.LocalOffer.Contact.AddressLine1</li>
                        <li>@Model.LocalOffer.Contact.AddressLine2</li>
                        <li>@Model.LocalOffer.Contact.TownOrCity</li>
                        <li>@Model.LocalOffer.Contact.County</li>
                        <li>@Model.LocalOffer.Contact.Postcode</li>*@
                  </ul>
              }
            </li>          
        }
     
        @if(Model.LocalOffer.ServiceAtLocations != null)
        {
             <li>
              <h2 class="app-task-list__section">
                Contact
              </h2>
            @foreach(var servicelocation in Model.LocalOffer.ServiceAtLocations.Where(x => x != null && x.Location != null))
            {
                @if(servicelocation != null && servicelocation?.Location != null && servicelocation.Location.PhysicalAddresses != null)
                {
                    @foreach(var physicalAddress in servicelocation.Location.PhysicalAddresses)
                    {
                        <ul class="app-task-list__items no-bullets">
                            <li>@physicalAddress.Address1</li>
                            <li>@physicalAddress.City</li>
                            <li>@physicalAddress.PostCode</li>
                            <li>@physicalAddress.Country</li>
                            <li>@physicalAddress.StateProvince</li>
                        </ul>
                    }     
                }
                        
            }
            </li>
        }

      </ul>
    </div>
  </div>
</main>
