@page
@model WelcomeModel
@{
    ViewData["Title"] = "Welcome";
    var organisationName = Model.FamilyHubsUser.OrganisationId == "-1" ? "Department for Education" : Model.OrganisationViewModel.Name;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l govuk-!-margin-bottom-1">@Model.FamilyHubsUser.FullName</h1>
        <h2 class="govuk-caption-l">@organisationName</h2>

        @if (Model.ShowAccountsSection)
        {
            <component type="typeof(Components.SectionBreakHeaderComponent)" param-Header='"Accounts"' render-mode="Static" />

            <div class="cards">
                <div class="card">
                    <h3 class="govuk-heading-s">
                        <a asp-page-handler="AddPermissionFlow" id="add-permission">Add a user</a>
                    </h3>
                    <p class="govuk-body-s">Add a user account to manage support services or connection requests.</p>
                </div>
                <div class="card">
                    <h3 class="govuk-heading-s">
                        <a href="AccountAdmin/ManagePermissions">Manage users</a>
                    </h3>
                    <p class="govuk-body-s">View, edit or delete user accounts to manage support services or connection requests.</p>
                </div>
            </div>
        }

        @if (Model.ShowLaSection)
        {
            <component type="typeof(Components.SectionBreakHeaderComponent)" param-Header='"Local authorities (LAs)"' render-mode="Static" />

            <div class="cards">
                <partial name="_ServicesCard" />
                <partial name="_LocationsCard" />
            </div>
        }

        @if (Model.ShowVcsSection)
        {
            <component type="typeof(Components.SectionBreakHeaderComponent)" param-Header='@Model.VcsHeaderText' render-mode="Static" />

            <div class="cards">
                <partial name="_ServicesCard" />
                <partial name="_LocationsCard" />
            </div>
        }

        @if (Model.IsUploadSpreadsheetEnabled)
        {
            <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

            <div class="cards">
                <div class="card">
                    <h2 class="govuk-heading-s">
                        <a asp-page-handler="UploadSpreadsheetData" asp-route-organisationid="@Model.OrganisationViewModel.Id" data-module="govuk-button" data-testid="upload-spreadsheet">
                            Upload Excel Spreadsheet
                        </a>
                    </h2>
                    <p class="govuk-body-s">Upload an excel spreadsheet.</p>
                </div>
            </div>
        }

        @if (Model.ShowSubjectAccessRequestSection)
        {
            <component type="typeof(Components.SectionBreakHeaderComponent)" param-Header='@Model.SubjectAccessRequestText' render-mode="Static" />

            <div class="card">
                <h3 class="govuk-heading-s">
                    <a href="/La/PersonsDetails" >Subject Access Request</a>
                </h3>
                <p class="govuk-body-s">Find information stored about a person.</p>
            </div>
        }
    </div>
</div>
