@page
@model WelcomeModel
@{
    ViewData["Title"] = Model.Heading;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l govuk-!-margin-bottom-1">@Model.Heading</h1>
        <h2 class="govuk-caption-l">@Model.SubHeading</h2>
        
        @switch (Model.MenuPage)
        {
            case MenuPage.Dfe:
                <partial name="_MenuSection" model="@("Accounts")" />
                <div class="cards">
                    <partial name="_AddUserCard" />
                    <partial name="_ManageUsersCard" />
                </div>

                <partial name="_MenuSection" model="@("Local authorities (LAs)")" />
                <div class="cards">
                    <partial name="_AddServiceCard" />
                    <partial name="_ManageServicesCard" />
                    <partial name="_AddLocationCard" />
                    <partial name="_ManageLocationsCard" />
                </div>

                <partial name="_MenuSection" model="@("Voluntary community organisations (VCSs)")" />
                <div class="cards">
                    <partial name="_AddServiceCard" />
                    <partial name="_ManageServicesCard" />
                    <partial name="_AddLocationCard" />
                    <partial name="_ManageLocationsCard" />
                    <partial name="_AddOrganisationCard" />
                    <partial name="_ManageOrganisationsCard" />
                </div>

                <partial name="_MenuSection" model="@("Performance data")" />
                <div class="cards">
                    <partial name="_PerformanceDataCard" model="true" />
                </div>
                break;

            case MenuPage.La:
                <partial name="_MenuSection" model="@("Accounts")" />
                <div class="cards">
                    <partial name="_AddUserCard" />
                    <partial name="_ManageUsersCard" />
                </div>

                <partial name="_MenuSection" model="@("Local authority services and locations")" />
                <div class="cards">
                    <partial name="_ServicesCard" />
                    <partial name="_LocationsCard" />
                </div>

                <partial name="_MenuSection" model="@("Voluntary community organisations")" />
                <div class="cards">
                    <partial name="_AddOrganisationCard" />
                    <partial name="_ManageOrganisationsCard" />
                </div>

                <partial name="_MenuSection" model="@("Subject access request")" />
                <div class="cards">
                    <div class="card">
                        <h3 class="govuk-heading-s">
                            <a href="/La/PersonsDetails">Subject Access Request</a>
                        </h3>
                        <p class="govuk-body-s">Find information stored about a person.</p>
                    </div>
                </div>

                <partial name="_MenuSection" model="@("Performance data")" />
                <div class="cards">
                    <partial name="_PerformanceDataCard" model="false" />
                </div>
                break;

            case MenuPage.Vcs:
                <div class="cards govuk-!-margin-top-8">
                    <partial name="_ServicesCard" />
                    <partial name="_LocationsCard" />
                </div>
                break;
        }
    </div>
</div>
