@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.ServiceWizzard.Pages.DaysTakePlaceModel
@{
    ViewData["Title"] = "Does this service take place on set days and times?";
}

@section Head {
    <link rel="stylesheet" href="~/css/accessible-autocomplete.min.css" asp-append-version="true" />
}

<a asp-page="ServiceTimes" asp-area="ServiceWizzard" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-column-two-thirds">

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    When does this service take place?
                </h1>
            </legend>
            <br>
            <p>We need to know which days the service usually takes place on.</p>
            <p>You can tell us later if the service only takes place during certain time periods. For example, the first Monday each month, or during term time.</p>
            <form method="post" novalidate data-validate="my-form-validation">
                @if (Model.ValidationValid == false)
                {
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li>
                                    <a href="#inperson">You must select one or more options</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
                <div class="govuk-form-group">
                    <span class="govuk-heading-m govuk-!-margin-bottom-3">Which days does the service take place?</span>
                    <div id="select-hint" class="govuk-hint govuk-!-margin-bottom-3">
                        Select all the days it takes place.
                    </div>
                    @{
                        if (Model.ValidationValid == false)
                        {
                            <p class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> You must select one or more options
                            </p>
                        }
                    }
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        @foreach (var item in Model.DictDays)
                        {
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="@item.Value.ToLower().Replace(" ", "")" name="DaySelection" type="checkbox" data-testid="@item.Value.ToLower().Replace(" ", "")" value="@item.Key" @(Model.DaySelection != null && Model.DaySelection.Any(x => x == item.Key.ToString()) ? "checked" : "")> 
                                <label class="govuk-label govuk-checkboxes__label delivery-type__label" for="@item.Value.ToLower().Replace(" ", "")">
                                    @item.Value
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <button class="govuk-button">
                    Continue
                </button>
            </form>
        </fieldset>
    </div>
</main>
