@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.ServiceWizzard.Pages.InPersonWhereModel
@{
    ViewData["Title"] = "What is the address?";
}

@section Head {
    <link rel="stylesheet" href="~/css/accessible-autocomplete.min.css" asp-append-version="true" />
}

@section Back {
    <a asp-page="ServiceDeliveryType" asp-area="ServiceWizzard" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" class="fhg-form">
            @if (!Model.ValidationValid)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            @if (Model.Address1Valid == false)
                            {
                                <li>
                                    <a href="#Address_1">Address 1 is required</a>
                                </li>
                            }

                            @if (Model.TownCityValid == false)
                            {
                                <li>
                                    <a href="#City">Town or city is required</a>
                                </li>
                            }

                            @if (Model.PostcodeValid == false)
                            {
                                <li>
                                    <a href="#Postal_code">Postcode cannot be empty and has to be valid</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Address
                </h1>
            </legend>

            <br />

            <p>Give an address where families use the service. This helps people find the service when they search by location. </p>

            <p>If families can go to different addresses, give the main one. You can add others later.</p>

            <div class="govuk-form-group">
                @*<input asp-for="@Model.StrOrganisationViewModel" type="hidden">*@

                <fieldset class="govuk-fieldset">
                    <h2 class="govuk-heading-m">What is the address?</h2>

                    <div class="govuk-form-group @(Model.Address1Valid == false ? "govuk-form-group--error" : "")">
                        <label class="govuk-label" for="Address1">
                            Address line 1
                        </label>
                        @{
                            if (Model.Address1Valid == false)
                            {
                                <p class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> Address 1 is required
                                </p>
                            }
                        }
                        <input class="govuk-input @(Model.Address1Valid == false ? "govuk-input--error" : "")" id="Address1" data-testid="address-one" name="Address1" type="text" value="@Model.Address1" autocomplete="Address1" maxlength="256">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="Address2">
                            Address line 2 (optional)
                        </label>
                        <input class="govuk-input" id="Address2" name="Address2" type="text" value="@Model.Address2" data-testid="address-two" autocomplete="Address2" maxlength="256">
                    </div>

                    <div class="govuk-form-group @(Model.TownCityValid == false ? "govuk-form-group--error" : "")">
                        <label class="govuk-label" for="City">
                            Town or city
                        </label>
                        @{
                            if (Model.TownCityValid == false)
                            {
                                <p class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> Town or city is required
                                </p>
                            }
                        }
                        <input class="govuk-input govuk-!-width-two-thirds @(Model.TownCityValid == false ? "govuk-input--error" : "")" id="City" data-testid="town-city" name="City" type="text" value="@Model.City" autocomplete="City" maxlength="256">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="StateProvince">
                            County (optional)
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="StateProvince" name="StateProvince" type="text" value="@Model.StateProvince" autocomplete="StateProvince" maxlength="256">
                    </div>

                    <div class="govuk-form-group @(Model.PostcodeValid == false ? "govuk-form-group--error" : "")">
                        <label class="govuk-label" for="Postal_code">
                            Postcode
                        </label>
                        @{
                            if (Model.PostcodeValid == false)
                            {
                                <p class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> Postcode cannot be empty and has to be valid
                                </p>
                            }
                        }
                        <input class="govuk-input govuk-input--width-10 @(Model.PostcodeValid == false ? "govuk-input--error" : "")" id="PostalCode" name="PostalCode" type="text" value="@Model.PostalCode" data-testid="post-code" autocomplete="PostalCode">
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" data-testid="button-continue">
                Continue
            </button>
        </form>
    </div>
</div>
