@page
@model ConnectPerformanceDataModel
@{
    ViewData["Title"] = Model.Title;
    var idx = 0;
}

@section Back {
    <a href="/Welcome" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">@Model.Title</h1>

        <p class="govuk-body-m">
            @if (Model.OrgName != null)
            {
                if (Model.IsVcs)
                {
                    <text>Data about services and connection requests for @Model.OrgName.</text>
                }
                else
                {
                    <text>Data about voluntary and community sector (VCS) services in the @Model.OrgName local authority area.</text>
                }
            }
            else
            {
                <text>Data about local authority services for Connect families to support (Connect).</text>
            }
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    @if (!Model.IsVcs)
    {
        <div class="govuk-grid-column-one-quarter">
            @await Html.PartialAsync("_Navigation", Model.NavigationDataModel)
        </div>
    }
    <div class="govuk-grid-column-three-quarters">
        <h2 data-testid="h2-overall" class="govuk-heading-s govuk-!-margin-bottom-3">Overall totals for @(Model.OrgName ?? "Connect")</h2>
        <table data-testid="table-overall" class="govuk-table govuk-!-font-size-16">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" data-testid="th-measure-overall" class="govuk-table__header govuk-!-width-one-half">Measure</th>
                <th scope="col" data-testid="th-number-overall" class="govuk-table__header">Number</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var total in Model.Totals)
            {
                <tr data-testid="overall-@total.Key.TestId" class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">@total.Key.Name</th>
                    <td class="govuk-table__cell">@total.Value</td>
                </tr>
            }
            </tbody>
        </table>

        <h2 data-testid="h2-daily" class="govuk-heading-s govuk-!-margin-bottom-3">Totals for the last 7 days</h2>
        <table data-testid="table-recent" class="govuk-table govuk-!-font-size-16">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" data-testid="th-measure-daily" class="govuk-table__header govuk-!-width-one-half">Measure</th>
                <th scope="col" data-testid="th-number-daily" class="govuk-table__header">Number</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var total in Model.TotalsLast7Days)
            {
                <tr data-testid="recent-@total.Key.TestId" class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">@total.Key.Name</th>
                    <td class="govuk-table__cell">@total.Value</td>
                </tr>
            }
            </tbody>
        </table>

        <h2 data-testid="h2-weekly" class="govuk-heading-s govuk-!-margin-top-9 govuk-!-margin-bottom-3">Searches in the last 4 weeks</h2>
        <table data-testid="table-breakdown" class="govuk-table govuk-!-font-size-16">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" data-testid="th-week-weekly" class="govuk-table__header govuk-!-width-one-half">Week</th>
                <th scope="col" data-testid="th-number-of-searches-weekly" class="govuk-table__header">Number of searches</th>
                <th scope="col" data-testid="th-number-of-requests-made-weekly" class="govuk-table__header">Requests made</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var report in Model.Breakdown.WeeklyReports.Reverse())
            {
                var requests = Model.RequestBreakdown.WeeklyReports.FirstOrDefault(x => x.Date == report.Date);
                <tr data-testid="breakdown-week@(++idx)" class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">@report.Date</th>
                    <td class="govuk-table__cell">@report.SearchCount</td>
                    <td class="govuk-table__cell">@(requests?.Made ?? 0)</td>
                </tr>
            }
            <tr data-testid="breakdown-total" class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total</th>
                <td class="govuk-table__cell">@Model.Breakdown.TotalSearchCount</td>
                <td class="govuk-table__cell">@Model.RequestBreakdown.Totals.Made</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
