@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_locations.Location_DetailsModel
@{
    ViewData["Title"] = "Check the details and add location";
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

@* todo: *@

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Check the details and add location</h1>

        <summary-list>
            <summary-list-row key="Address" show-empty action1="Change"
                              action1-href="@Model.GetRedoPageUrl(LocationJourneyPage.Location_Address)">
                @* @Model.Address *@
            </summary-list-row>

            <summary-list-row key="Family hub" show-empty action1="Change"
                              action1-href="@Model.GetRedoPageUrl(LocationJourneyPage.Family_Hub)">
                @(Model.LocationModel!.IsFamilyHub!.Value ? "Yes" : "No")
            </summary-list-row>

            <summary-list-row key="More details" show-empty action1="Change"
                              action1-href="@Model.GetRedoPageUrl(LocationJourneyPage.Location_Details)">
                @Model.LocationModel!.Description
            </summary-list-row>
        </summary-list>
    </div>
</div>
