@page
@using FamilyHubs.SharedKernel.Identity
@using FamilyHubs.SharedKernel.Razor.Summary
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_locations.Location_DetailsModel
@{
    string title, cta;
    if (Model.Flow == JourneyFlow.Edit)
    {
        title = "Location details";
        cta = "Save";
    }
    else
    {
        title = "Check the details and add location";
        cta = "Confirm and add location";
    }

    //var linkFlow = Model.Flow == JourneyFlow.Edit ? JourneyFlow.Edit : JourneyFlow.AddRedo;

    ViewData["Title"] = title;
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@title</h1>

        @if (Model.Flow == JourneyFlow.Edit)
        {
            <p>Change details for this location.</p>
        }

        <summary-list>
            @*todo: pass changeflow of single page*@
            <summary-row key="Address" show-empty action1="Change"
                         action1-href="@Model.GetLocationPageUrl(LocationJourneyPage.Location_Address, LocationJourneyChangeFlow.SinglePage)">
                @string.Join(", ", Model.GetAddress())
            </summary-row>
            
            @if (Model.FamilyHubsUser.Role is not (RoleTypes.VcsDualRole or RoleTypes.VcsManager))
            {
                <summary-row key="Family hub" show-empty action1="Change"
                             action1-href="@Model.GetLocationPageUrl(LocationJourneyPage.Family_Hub, LocationJourneyChangeFlow.SinglePage)">
                    @(Model.LocationModel!.IsFamilyHub!.Value ? "Yes" : "No")
                </summary-row>
            }

            <summary-row key="More details" show-empty class="fh-pre-wrap" action1="Change"
                         action1-href="@Model.GetLocationPageUrl(LocationJourneyPage.Location_Information, LocationJourneyChangeFlow.SinglePage)">@Model.LocationModel!.Description</summary-row>
        </summary-list>
        
        @if (Model.Flow != JourneyFlow.Edit || Model.LocationModel!.Updated)
        {
            <form method="post" novalidate>
                <button class="govuk-button" data-module="govuk-button">@cta</button>
            </form>
        }
    </div>
</div>
