@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.OrganisationAdmin.ServiceNameModel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using static Core.Constants.PageConfiguration;

@if (Model.UserFlow == "ManageService" && Model.LastPage == CheckServiceDetailsPageName)
{
    <a asp-page="/OrganisationAdmin/CheckServiceDetails" class="govuk-back-link" data-testid="back-button">Back</a>
}
else
{
    <a asp-page="/OrganisationAdmin/Welcome" asp-route-organisationId="@Model.OrganisationId" class="govuk-back-link" data-testid="back-button">Back</a>
}


<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post">
                @if (Model.ValidationValid == false)
                {
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li>
                                    <a href="#service-name" data-testid="enter-service-name-error">You must enter a service name</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }

                <div class="govuk-form-group @(Model.ValidationValid == false ? "govuk-form-group--error" : "")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                What is the name of the service?
                            </h1>
                        </legend>

                        @if (Model.ValidationValid == false)
                        {
                            <p class="govuk-error-message">
                                <span class="govuk-visually-hidden" data-testid="name-enter-validation">Error:</span>
                                <span asp-validation-for="@Model.ServiceName"></span>
                            </p>
                        }

                        <div class="govuk-form-group">
                            <input id="service-name" class="govuk-input @(Model.ValidationValid == false ? "govuk-input--error" : "")" asp-for="@Model.ServiceName" type="text" maxlength="255"  data-testid="service-name"/>
                        </div>
                    </fieldset>
                </div>

                <button type="submit" class="govuk-button" data-testid="name-continue-button">
                    Continue
                </button>
            </form>
        </div>
    </div>
</main>
