@page
@model FamilyHubs.ServiceDirectoryAdminUi.Ui.Pages.OrganisationAdmin.CheckServiceDetailsModel
@{
}

@{
    if (Model.UserFlow == "ManageService")
    {
        <a asp-page="/OrganisationAdmin/ViewServices" class="govuk-back-link">Back</a>
    }
    else
    {
        <a asp-page="/OrganisationAdmin/ServiceDescription" class="govuk-back-link">Back</a>
    }
}

@*<a asp-page="/OrganisationAdmin/ServiceDescription" asp-route-strOrganisationViewModel="@Model.StrOrganisationViewModel" class="govuk-back-link">Back</a>*@


<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    @if (Model.UserFlow == "ManageService")
                    {
                        <span class="govuk-fieldset__heading">
                            @Model.OrganisationViewModel.ServiceName
                        </span>
                    }
                    else
                    {
                        <span class="govuk-fieldset__heading">
                            Check the service details
                        </span>
                    }
                </legend>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="replace-commas">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="service-name">
                            @Model.OrganisationViewModel.ServiceName
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            @*<a class="govuk-link" asp-page="/OrganisationAdmin/ServiceName" asp-route-strOrganisationViewModel="@Model.StrOrganisationViewModel">*@
                            <a class="govuk-link" asp-page="/OrganisationAdmin/ServiceName" data-testid="name-change">
                                Change<span class="govuk-visually-hidden"> service name</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            What does it help with?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @for (int i = 0, j=0; i < Model.SelectedTaxonomy.Count(); i++)
                            {
                                if (!string.IsNullOrEmpty(Model.SelectedTaxonomy[i].Parent))
                                {
                                    if (j++ > 0)
                                    {
                                        <span>&#44;&nbsp;</span>
                                    }
                                    @Model.SelectedTaxonomy[i].Name
                                    ;
                                }
                            }
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            @*<a class="govuk-link" asp-page="/OrganisationAdmin/TypeOfService" asp-route-strOrganisationViewModel="@Model.StrOrganisationViewModel">*@
                            <a class="govuk-link" asp-page="/OrganisationAdmin/TypeOfService" data-testid="change-typeofservice">
                                Change<span class="govuk-visually-hidden"> type of support offered</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            How can families use it?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @for (int i = 0; i < Model.ServiceDeliverySelection.Count(); i++)
                            {
                                @if (i > 0)
                                {
                                    <span>&#44;&nbsp;</span>
                                }
                                @Model.ServiceDeliverySelection[i]
                                ;
                            }
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" asp-page="/OrganisationAdmin/ServiceDeliveryType" data-testid="change-servicedeliverytype">
                                Change<span class="govuk-visually-hidden"> type of childcare support offered</span>
                            </a>
                        </dd>
                    </div>
                    
                    @if (@Model.OrganisationViewModel?.InPersonSelection?.Contains("Our own location") == true)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @if (!string.IsNullOrEmpty(Model.Address_1))
                                {
                                    @Model.Address_1<br />
                                }
                                @if (!string.IsNullOrEmpty(Model.Address_2))
                                {
                                    @Model.Address_2<br />
                                }
                                @if (!string.IsNullOrEmpty(@Model.OrganisationViewModel.City))
                                {
                                    @Model.OrganisationViewModel.City<br />
                                }
                                @if (!string.IsNullOrEmpty(@Model.OrganisationViewModel.State_province))
                                {
                                    @Model.OrganisationViewModel.State_province<br />
                                }
                                @if (!string.IsNullOrEmpty(@Model.OrganisationViewModel.Postal_code))
                                {
                                    @Model.OrganisationViewModel.Postal_code<br />
                                }
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                @*<a class="govuk-link" asp-page="/OrganisationAdmin/InPersonWhere" asp-route-strOrganisationViewModel="@Model.StrOrganisationViewModel">*@
                                <a class="govuk-link" asp-page="/OrganisationAdmin/InPersonWhere" data-testid="change-inpersonwhere">
                                    Change<span class="govuk-visually-hidden"> address</span>
                                </a>
                            </dd>
                        </div>
                    }

                   @* @if (@Model.OrganisationViewModel?.Familychoice == "Yes")
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Can families choose location?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.OrganisationViewModel.Familychoice
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" asp-page="/OrganisationAdmin/OfferAtFamiliesPlace" data-testid="change-offeratfamiliesplace">
                                    Change<span class="govuk-visually-hidden">family choice</span>
                                </a>
                            </dd>
                        </div>
                    }*@

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            For children and young people?
                        </dt>

                        @if (Model?.OrganisationViewModel?.WhoForSelection != null && Model.OrganisationViewModel.WhoForSelection.Any())
                        {
                            @for (int i = 0; i < Model?.OrganisationViewModel?.WhoForSelection?.Count(); i++)
                            {
                                @if (i > 0)
                                {
                                    <span>&#44;&nbsp</span>
                                }
                                <dd class="govuk-summary-list__value" id="test">
                                    Yes - @Model?.OrganisationViewModel?.MinAge years old to @Model?.OrganisationViewModel?.MaxAge years old
                                </dd>
                            }
                        }
                        else
                        {
                            <dd class="govuk-summary-list__value" id="test">
                                No
                            </dd>
                        }

                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" asp-page="/OrganisationAdmin/WhoFor" data-testid="change-whofor">
                                Change<span class="govuk-visually-hidden">type</span>
                            </a>
                        </dd>
                    </div>

                    @* @if (@Model.OrganisationViewModel?.WhoForSelection?.Contains("Children") == true)
                    {
                    <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Age of children and young people
                    </dt>
                    <dd class="govuk-summary-list__value" id="test">
                    @Model?.OrganisationViewModel?.MinAge to @Model?.OrganisationViewModel?.MaxAge
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-page="/OrganisationAdmin/WhoFor">
                    Change<span class="govuk-visually-hidden">type</span>
                    </a>
                    </dd>
                    </div>
                    }*@

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Languages
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @for (int i = 0; i < @Model?.OrganisationViewModel?.Languages?.Count(); i++)
                            {
                                @if (i > 0)
                                {
                                    <span>&#44;</span>
                                }
                                @Model.OrganisationViewModel?.Languages?[i]
                            }
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            @*<a class="govuk-link" asp-page="/OrganisationAdmin/WhatLanguage" asp-route-strOrganisationViewModel="@Model?.StrOrganisationViewModel">*@
                            <a class="govuk-link" asp-page="/OrganisationAdmin/WhatLanguage" data-testid="change-whatlanguage">
                                Change<span class="govuk-visually-hidden">type</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Paid for?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @if (@Model?.OrganisationViewModel?.IsPayedFor?.Equals("Yes") == true)
                            {
                                <span>Yes - £</span> @Model?.Cost <span>per</span> @Model?.OrganisationViewModel?.PayUnit
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            @*<a class="govuk-link" asp-page="/OrganisationAdmin/PayForService" asp-route-strOrganisationViewModel="@Model?.StrOrganisationViewModel">*@
                            <a class="govuk-link" asp-page="/OrganisationAdmin/PayForService" data-testid="change-payforservice">
                                Change<span class="govuk-visually-hidden"> payment type</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Contact details
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @if (!string.IsNullOrEmpty(@Model?.OrganisationViewModel?.Email))
                            {
                                <p class="govuk-body">@Model?.OrganisationViewModel?.Email</p>
                            }
                            @if (!string.IsNullOrEmpty(@Model?.OrganisationViewModel?.Telephone))
                            {
                                <p class="govuk-body">@Model?.OrganisationViewModel?.Telephone</p>
                            }
                            @if (!string.IsNullOrEmpty(@Model?.OrganisationViewModel?.Website))
                            {
                                <p class="govuk-body">@Model?.OrganisationViewModel?.Website</p>
                            }
                            @if (!string.IsNullOrEmpty(@Model?.OrganisationViewModel?.Textphone))
                            {
                                <p class="govuk-body">@Model?.OrganisationViewModel?.Textphone</p>
                            }
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            @*<a class="govuk-link" asp-page="/OrganisationAdmin/ContactDetails" asp-route-strOrganisationViewModel="@Model?.StrOrganisationViewModel">*@
                            <a class="govuk-link" asp-page="/OrganisationAdmin/ContactDetails" data-testid="change-contactdetails">
                                Change<span class="govuk-visually-hidden"> contact details</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            More details
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@Model?.OrganisationViewModel?.ServiceDescription</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            @*<a class="govuk-link" asp-page="/OrganisationAdmin/ServiceDescription" asp-route-strOrganisationViewModel="@Model?.StrOrganisationViewModel">*@
                            <a class="govuk-link" asp-page="/OrganisationAdmin/ServiceDescription" data-testid="change-servicedescription">
                                Change<span class="govuk-visually-hidden">service description</span>
                            </a>
                        </dd>
                    </div>
                </dl>

                <form method="post">
                    @*        @if(@Model?.StrOrganisationViewModel != null)
                    {
                    <input asp-for="@Model.StrOrganisationViewModel" type="hidden" >
                    }*@
                    @if (Model?.UserFlow == "ManageService")
                    {
                        <button type="submit" class="govuk-button" data-testid="button-save">
                            Save details
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="govuk-button" data-testid="button-confirm">
                            Confirm details
                        </button>
                    }
                </form>
                @if (Model?.UserFlow == "ManageService")
                {
                    <p>
                        <a asp-page-handler="RedirectToViewServicesPage" asp-route-orgId="@Model.OrganisationViewModel ?? @Model?.OrganisationViewModel?.Id.ToString()">
                            Back to manage your services
                        </a>
                    </p>

                }

            </fieldset>
        </div>


    </div>

</main>