@page
@model FamilyHubs.ServiceDirectoryAdminUi.Ui.Pages.OrganisationAdmin.CheckServiceDetailsModel
@{
}

@{
    if (Model.UserFlow == "ManageService")
    {
        <a asp-page="/OrganisationAdmin/ViewServices" class="govuk-back-link">Back</a>
    }
    else
    {
        <a asp-page="/OrganisationAdmin/ServiceDescription" class="govuk-back-link">Back</a>
    }
}

@*<a asp-page="/OrganisationAdmin/ServiceDescription" asp-route-strOrganisationViewModel="@Model.StrOrganisationViewModel" class="govuk-back-link">Back</a>*@


<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <fieldset class="govuk-fieldset">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <span class="govuk-fieldset__heading">
                        @Model.OrganisationViewModel.Name
                    </span>
                </legend>


                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">


                    @if (Model.UserFlow == "ManageService")
                    {
                        <span class="govuk-fieldset__heading">
                            @Model.OrganisationViewModel.ServiceName
                        </span>
                    }
                    else
                    {
                        <span class="govuk-fieldset__heading">
                            Check the service details
                        </span>
                    }
                </legend>

                <!-- SPreadsheet fields -->
                <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="replace-commas">

                    <!-- Service unique identifier -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Service unique identifier
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="">
                            @Model.OrganisationViewModel.Id
                        </dd>
                    </div>

                    <!-- Local authority -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Local authority
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationViewModel.Name
                        </dd>
                    </div>

                    <!-- Organisation type -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationViewModel.Type
                        </dd>
                    </div>

                    <!-- Name of organisation -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name of organisation
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationViewModel.Name
                        </dd>
                    </div>

                    <!-- Name of service -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name of service
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationViewModel.ServiceName
                        </dd>
                    </div>

                    <!-- Delivery method -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Delivery method
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @for (int i = 0; i < Model.ServiceDeliverySelection.Count(); i++)
                            {
                                @if (i > 0)
                                {
                                    <span>&#44;&nbsp;</span>
                                }
                                @Model.ServiceDeliverySelection[i]
                                ;
                            }
                        </dd>
                    </div>

                    <!-- Location name -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Location name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationViewModel.LocationName
                        </dd>
                    </div>

                    <!-- Location description -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Location description
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationViewModel.LocationDescription
                        </dd>
                    </div>

                    <!-- Address line 1 -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Address line 1
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Address_1
                        </dd>
                    </div>

                    <!-- Address line 2 -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Address line 2
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Address_2
                        </dd>
                    </div>

                    <!-- Town or City -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Town or City
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationViewModel.City
                        </dd>
                    </div>

                    <!-- County -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            County
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationViewModel.State_province
                        </dd>
                    </div>

                    <!-- Postcode -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Postcode
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationViewModel.Postal_code
                        </dd>
                    </div>

                    <!-- Email -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Contact email
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationViewModel.Email
                        </dd>
                    </div>

                    <!-- Contact phone -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Contact phone
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationViewModel.Telephone
                        </dd>
                    </div>

                    <!-- Website -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Website
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationViewModel.Website
                        </dd>
                    </div>

                    <!-- Contact sms -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Contact sms
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationViewModel.Textphone
                        </dd>
                    </div>

                    <!-- Sub-category -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Sub-category
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @for (int i = 0, j = 0; i < Model.SelectedTaxonomy.Count(); i++)
                            {
                                if (!string.IsNullOrEmpty(Model.SelectedTaxonomy[i].Parent))
                                {
                                    if (j++ > 0)
                                    {
                                        <span>&#44;&nbsp;</span>
                                    }
                                    @Model.SelectedTaxonomy[i].Name
                                    ;
                                }
                            }
                        </dd>
                    </div>

                    <!-- Cost (£ in pounds) -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Cost (£ in pounds)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <span>£</span> @Model?.Cost
                        </dd>
                    </div>

                    <!-- Cost per -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Cost per
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model?.OrganisationViewModel?.PayUnit
                        </dd>
                    </div>

                    <!-- Cost Description -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Cost Description
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @for (int i = 0; i < Model?.OrganisationViewModel?.CostDescriptions?.Count(); i++)
                            {
                                if (!string.IsNullOrEmpty(Model?.OrganisationViewModel?.CostDescriptions[i]))
                                {
                                                                    @if (i > 0)
                                {
                                    <span>&#44;</span>
                                }
                                    @Model?.OrganisationViewModel?.CostDescriptions[i]
                                    ;
                                }
                            }
                        </dd>
                    </div>

                    <!-- Language -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Language
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @for (int i = 0; i < @Model?.OrganisationViewModel?.Languages?.Count(); i++)
                            {
                                @if (i > 0)
                                {
                                    <span>&#44;</span>
                                }
                                @Model.OrganisationViewModel?.Languages?[i]
                            }
                        </dd>
                    </div>

                    <!-- Age from -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Age from
                        </dt>
                        <dd class="govuk-summary-list__value" id="test">
                            @Model?.OrganisationViewModel?.MinAge
                        </dd>
                    </div>

                    <!-- Age to -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Age to
                        </dt>
                        <dd class="govuk-summary-list__value" id="test">
                            @Model?.OrganisationViewModel?.MaxAge
                        </dd>
                    </div>


                    <!-- Opening hours description -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Opening hours description
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @for (int i = 0; i < Model?.OrganisationViewModel?.RegularSchedules?.Count(); i++)
                            {
                                if (!string.IsNullOrEmpty(Model?.OrganisationViewModel?.RegularSchedules[i]))
                                {

                                    @if (i > 0)
                                    {
                                        <span>&#44;</span>
                                    }

                                    @Model?.OrganisationViewModel?.RegularSchedules[i]
                                    ;
                                }
                            }
                        </dd>
                    </div>

                    <!-- More details (service description) -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            More details (service description)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model?.OrganisationViewModel?.ServiceDescription
                        </dd>
                    </div>

                </dl>
                <br />
                <br />
                <br />
                <br />
                <br />
                <!-- END - SPreadsheet fields -->
                <!-- Legacy CheckServcieDetails fields -->
                <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="replace-commas">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="service-name">
                            @Model?.OrganisationViewModel?.ServiceName
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            @*<a class="govuk-link" asp-page="/OrganisationAdmin/ServiceName" asp-route-strOrganisationViewModel="@Model.StrOrganisationViewModel">*@
                            <a class="govuk-link" asp-page="/OrganisationAdmin/ServiceName" data-testid="name-change">
                                Change<span class="govuk-visually-hidden"> service name</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            What does it help with?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @for (int i = 0, j = 0; i < Model?.SelectedTaxonomy.Count(); i++)
                            {
                                if (!string.IsNullOrEmpty(Model.SelectedTaxonomy[i].Parent))
                                {
                                    if (j++ > 0)
                                    {
                                        <span>&#44;&nbsp;</span>
                                    }
                                    @Model.SelectedTaxonomy[i].Name
                                    ;
                                }
                            }
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            @*<a class="govuk-link" asp-page="/OrganisationAdmin/TypeOfService" asp-route-strOrganisationViewModel="@Model.StrOrganisationViewModel">*@
                            <a class="govuk-link" asp-page="/OrganisationAdmin/TypeOfService" data-testid="change-typeofservice">
                                Change<span class="govuk-visually-hidden"> type of support offered</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            How can families use it?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @for (int i = 0; i < Model?.ServiceDeliverySelection.Count(); i++)
                            {
                                @if (i > 0)
                                {
                                    <span>&#44;&nbsp;</span>
                                }
                                @Model.ServiceDeliverySelection[i]
                                ;
                            }
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            @*<a class="govuk-link" asp-page="/OrganisationAdmin/ServiceDeliveryType" asp-route-strOrganisationViewModel="@Model.StrOrganisationViewModel">*@
                            <a class="govuk-link" asp-page="/OrganisationAdmin/ServiceDeliveryType" data-testid="change-servicedeliverytype">
                                Change<span class="govuk-visually-hidden"> type of childcare support offered</span>
                            </a>
                        </dd>
                    </div>
                    @*<div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Where the in person support takes place
                    </dt>
                    <dd class="govuk-summary-list__value">
                    @for (int i = 0; i < Model.OrganisationViewModel?.InPersonSelection?.Count(); i++)
                    {
                    @if (i > 0)
                    {
                    <span>&#44;</span>
                    }
                    @Model.OrganisationViewModel?.InPersonSelection?[i]
                    }
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-page="/OrganisationAdmin/InPersonWhere">
                    Change<span class="govuk-visually-hidden"> location</span>
                    </a>
                    </dd>
                    </div>*@

                    @if (@Model?.OrganisationViewModel?.InPersonSelection?.Contains("Our own location") == true)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @if (!string.IsNullOrEmpty(Model.Address_1))
                                {
                                    @Model.Address_1

                                    <br />
                                }
                                @if (!string.IsNullOrEmpty(Model.Address_2))
                                {
                                    @Model.Address_2

                                    <br />
                                }
                                @if (!string.IsNullOrEmpty(@Model.OrganisationViewModel.City))
                                {
                                    @Model.OrganisationViewModel.City

                                    <br />
                                }
                                @if (!string.IsNullOrEmpty(@Model.OrganisationViewModel.State_province))
                                {
                                    @Model.OrganisationViewModel.State_province

                                    <br />
                                }
                                @if (!string.IsNullOrEmpty(@Model.OrganisationViewModel.Postal_code))
                                {
                                    @Model.OrganisationViewModel.Postal_code

                                    <br />
                                }
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                @*<a class="govuk-link" asp-page="/OrganisationAdmin/InPersonWhere" asp-route-strOrganisationViewModel="@Model.StrOrganisationViewModel">*@
                                <a class="govuk-link" asp-page="/OrganisationAdmin/InPersonWhere" data-testid="change-inpersonwhere">
                                    Change<span class="govuk-visually-hidden"> address</span>
                                </a>
                            </dd>
                        </div>
                    }
                    @*
                    @if (@Model.OrganisationViewModel?.Familychoice == "Yes")
                    {
                    <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Can families choose location?
                    </dt>
                    <dd class="govuk-summary-list__value">
                    @Model.OrganisationViewModel.Familychoice
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-page="/OrganisationAdmin/OfferAtFamiliesPlace" data-testid="change-offeratfamiliesplace">
                    Change<span class="govuk-visually-hidden">family choice</span>
                    </a>
                    </dd>
                    </div>
                    }
                    *@
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            For children and young people?
                        </dt>

                        @if (Model?.OrganisationViewModel?.WhoForSelection != null && Model.OrganisationViewModel.WhoForSelection.Any())
                        {
                            @for (int i = 0; i < Model?.OrganisationViewModel?.WhoForSelection?.Count(); i++)
                            {
                                @if (i > 0)
                                {
                                    <span>&#44;&nbsp</span>
                                }
                                <dd class="govuk-summary-list__value" id="test">
                                    Yes - @Model?.OrganisationViewModel?.MinAge years old to @Model?.OrganisationViewModel?.MaxAge years old
                                </dd>
                            }
                        }
                        else
                        {
                            <dd class="govuk-summary-list__value" id="test">
                                No
                            </dd>
                        }

                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" asp-page="/OrganisationAdmin/WhoFor" data-testid="change-whofor">
                                Change<span class="govuk-visually-hidden">type</span>
                            </a>
                        </dd>
                    </div>

                    @* @if (@Model.OrganisationViewModel?.WhoForSelection?.Contains("Children") == true)
                    {
                    <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Age of children and young people
                    </dt>
                    <dd class="govuk-summary-list__value" id="test">
                    @Model?.OrganisationViewModel?.MinAge to @Model?.OrganisationViewModel?.MaxAge
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-page="/OrganisationAdmin/WhoFor">
                    Change<span class="govuk-visually-hidden">type</span>
                    </a>
                    </dd>
                    </div>
                    }*@

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Languages
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @for (int i = 0; i < @Model?.OrganisationViewModel?.Languages?.Count(); i++)
                            {
                                @if (i > 0)
                                {
                                    <span>&#44;</span>
                                }
                                @Model.OrganisationViewModel?.Languages?[i]
                            }
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            @*<a class="govuk-link" asp-page="/OrganisationAdmin/WhatLanguage" asp-route-strOrganisationViewModel="@Model?.StrOrganisationViewModel">*@
                            <a class="govuk-link" asp-page="/OrganisationAdmin/WhatLanguage" data-testid="change-whatlanguage">
                                Change<span class="govuk-visually-hidden">type</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Paid for?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @if (@Model?.OrganisationViewModel?.IsPayedFor?.Equals("Yes") == true)
                            {
                                <span>Yes - £</span> @Model?.Cost <span>per</span> @Model?.OrganisationViewModel?.PayUnit
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            @*<a class="govuk-link" asp-page="/OrganisationAdmin/PayForService" asp-route-strOrganisationViewModel="@Model?.StrOrganisationViewModel">*@
                            <a class="govuk-link" asp-page="/OrganisationAdmin/PayForService" data-testid="change-payforservice">
                                Change<span class="govuk-visually-hidden"> payment type</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Contact details
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @if (!string.IsNullOrEmpty(@Model?.OrganisationViewModel?.Email))
                            {
                                <p class="govuk-body">@Model?.OrganisationViewModel?.Email</p>
                            }
                            @if (!string.IsNullOrEmpty(@Model?.OrganisationViewModel?.Telephone))
                            {
                                <p class="govuk-body">@Model?.OrganisationViewModel?.Telephone</p>
                            }
                            @if (!string.IsNullOrEmpty(@Model?.OrganisationViewModel?.Website))
                            {
                                <p class="govuk-body">@Model?.OrganisationViewModel?.Website</p>
                            }
                            @if (!string.IsNullOrEmpty(@Model?.OrganisationViewModel?.Textphone))
                            {
                                <p class="govuk-body">@Model?.OrganisationViewModel?.Textphone</p>
                            }
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            @*<a class="govuk-link" asp-page="/OrganisationAdmin/ContactDetails" asp-route-strOrganisationViewModel="@Model?.StrOrganisationViewModel">*@
                            <a class="govuk-link" asp-page="/OrganisationAdmin/ContactDetails" data-testid="change-contactdetails">
                                Change<span class="govuk-visually-hidden"> contact details</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            More details
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@Model?.OrganisationViewModel?.ServiceDescription</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            @*<a class="govuk-link" asp-page="/OrganisationAdmin/ServiceDescription" asp-route-strOrganisationViewModel="@Model?.StrOrganisationViewModel">*@
                            <a class="govuk-link" asp-page="/OrganisationAdmin/ServiceDescription" data-testid="change-servicedescription">
                                Change<span class="govuk-visually-hidden">service description</span>
                            </a>
                        </dd>
                    </div>
                </dl>

                <form method="post">
                    @*        @if(@Model?.StrOrganisationViewModel != null)
                    {
                    <input asp-for="@Model.StrOrganisationViewModel" type="hidden" >
                    }*@
                    @if (Model?.UserFlow == "ManageService")
                    {
                        <button type="submit" class="govuk-button" data-testid="button-save">
                            Save details
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="govuk-button" data-testid="button-confirm">
                            Confirm details
                        </button>
                    }
                </form>
                @if (Model?.UserFlow == "ManageService")
                {
                    <p>
                        <a asp-page-handler="RedirectToViewServicesPage" asp-route-orgId="@Model.OrganisationViewModel ?? @Model?.OrganisationViewModel?.Id.ToString()">
                            Back to manage your services
                        </a>
                    </p>

                }

            </fieldset>
        </div>


    </div>

</main>