@page
@using static Infrastructure.Configuration.PageConfiguration;
@model ContactDetailsModel

@{
    if (Model.UserFlow == "ManageService" && Model.LastPage == CheckServiceDetailsPageName)
    {
        <a asp-page="/OrganisationAdmin/CheckServiceDetails" class="govuk-back-link">Back</a>
    }
    else
    {
        <a asp-page="/OrganisationAdmin/PayForService" class="govuk-back-link">Back</a>
    }
}


<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post">
                @if (Model.ValidationValid == false)
                {
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                @if (Model.OneOptionSelected == false)
                                {
                                    <li>
                                        <a href="#ContactSelectionEmail">Please select one option</a>
                                    </li>
                                }

                                @if (Model.EmailValid == false)
                                {
                                    <li>
                                        <a href="#contact-by-email">Please enter a valid email address</a>
                                    </li>
                                }

                                @if (Model.PhoneValid == false)
                                {
                                    <li>
                                        <a href="#contact-by-phone">Please enter a valid phone number</a>
                                    </li>
                                }

                                @if (Model.WebsiteValid == false)
                                {
                                    <li>
                                        <a href="#contact-by-website">Please enter a valid website address</a>
                                    </li>
                                }

                                @if (Model.TextValid == false)
                                {
                                    <li>
                                        <a href="#contact-by-text">Please enter a valid phone number for texts</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }

                <div id="ContactBySection" class="govuk-form-group @(Model.OneOptionSelected == false ? "govuk-form-group--error" : "")">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            How can people contact the service?
                        </h1>
                    </legend>

                    @if (Model.OneOptionSelected == false)
                    {
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> You must select at least one option
                        </p>
                    }

                    <div id="contact-hint" class="govuk-hint">
                        Select all that apply.
                    </div>

                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="@(Model.EmailValid == false ? "govuk-form-group--error" : "")">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="ContactSelectionEmail" name="ContactSelection" type="checkbox" value="email" data-aria-controls="email-contact" @(Model.ContactSelection != null && Model.ContactSelection.Any(x => x == "email") ? "data-conditional-active" : "")>
                                <label class="govuk-label govuk-checkboxes__label" for="ContactSelectionEmail">
                                    Email
                                </label>
                            </div>
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="email-contact" data-testid="email-contact">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="contact-by-email">
                                        Email address
                                    </label>

                                    @if (Model.EmailValid == false)
                                    {
                                        <p class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span> Please enter a valid email address
                                        </p>
                                    }

                                    <input id="contact-by-email" type="text" asp-for="Email" class="govuk-input govuk-!-width-one-third" data-testid="email-input"> <!-- *** COMMENTED OUT AS IT CAUSES non GDS validation messages *** id="contact-by-email" type="email" spellcheck="false" autocomplete="email"-->
                                    @*@if (Model.ValidationValid == false)
                                    {
                                        <p class="govuk-error-message">
                                            <span asp-validation-for="@Model.Email" class="govuk-error-message"></span>
                                        </p>
                                    }*@
                                </div>
                            </div>
                        </div>
                        

                        <div class="@(Model.PhoneValid == false ? "govuk-form-group--error" : "")">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="ContactSelectionTelephone" name="ContactSelection" type="checkbox" value="phone" data-aria-controls="phone-contact" @(Model.ContactSelection != null && Model.ContactSelection.Any(x => x == "phone") ? "data-conditional-active" : "")>
                                <label class="govuk-label govuk-checkboxes__label" for="ContactSelectionTelephone">
                                    Telephone
                                </label>
                            </div>
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="phone-contact">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="contact-by-phone">
                                        Telephone number
                                    </label>

                                    @if (Model.PhoneValid == false)
                                    {
                                        <p class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span> Please enter a valid phone number
                                        </p>
                                    }

                                    <input asp-for="Telephone" class="govuk-input govuk-!-width-one-third" id="contact-by-phone" type="tel" autocomplete="tel">
                                    @*@if (Model.ValidationValid == false)
                                    {
                                        <p class="govuk-error-message">
                                            <span asp-validation-for="@Model.Telephone" class="govuk-error-message"></span>
                                        </p>
                                    }*@
                                </div>
                            </div>
                        </div>

                        <div class="@(Model.WebsiteValid == false ? "govuk-form-group--error" : "")">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="ContactSelectionWebsite" name="ContactSelection" type="checkbox" value="website" data-aria-controls="website-contact" @(Model.ContactSelection != null && Model.ContactSelection.Any(x => x == "website") ? "data-conditional-active" : "")>
                                <label class="govuk-label govuk-checkboxes__label" for="ContactSelectionWebsite">
                                    Website
                                </label>
                            </div>
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="website-contact">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="contact-by-website">
                                        Website
                                    </label>

                                    @if (Model.WebsiteValid == false)
                                    {
                                        <p class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span> Please enter a valid website address
                                        </p>
                                    }

                                    <input asp-for="Website" class="govuk-input govuk-!-width-one-third" id="contact-by-website" autocomplete="website">
                                    @*@if (Model.ValidationValid == false)
                                    {
                                        <p class="govuk-error-message">
                                            <span asp-validation-for="@Model.Website" class="govuk-error-message"></span>
                                        </p>
                                    }*@
                                </div>
                            </div>
                        </div>

                        <div class="@(Model.TextValid == false ? "govuk-form-group--error" : "")">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="ContactSelectionTextMessage" name="ContactSelection" type="checkbox" value="textphone" data-aria-controls="conditional-contact-4" @(Model.ContactSelection != null && Model.ContactSelection.Any(x => x == "textphone") ? "data-conditional-active" : "")>
                                <label class="govuk-label govuk-checkboxes__label" for="ContactSelectionTextMessage">
                                    Text message
                                </label>
                            </div>
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-4">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="contact-by-phone">
                                        Telephone number
                                    </label>

                                    @if (Model.TextValid == false)
                                    {
                                        <p class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span> Please enter a valid phone number for texts
                                        </p>
                                    }

                                    <input asp-for="Textphone" class="govuk-input govuk-!-width-one-third" id="contact-by-text" type="tel" autocomplete="tel">
                                    @*@if (Model.ValidationValid == false)
                                    {
                                        <p class="govuk-error-message">
                                            <span asp-validation-for="@Model.Textphone" class="govuk-error-message"></span>
                                        </p>
                                    }*@
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <button type="submit" class="govuk-button" data-testid="button-continue">
                    Continue
                </button>
            </form>
            @*</fieldset>*@
        </div>
    </div>
</main>