@page
@model             ListOrganisationsModel
@{
}

<style>
fieldset br{
display:none;
}
</style>

<a asp-page="/Index" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">

        <form method="post">
            
            <fieldset class="govuk-fieldset">
            <h1 class="govuk-heading-m">
                    Organisations
                </h1>

                <p>
                    If you are an existing organisatio then please "Get Organisations" button, otherwise please select "Add New Organisation".
                </p>
            </fieldset>
            <fieldset class="govuk-fieldset">
                <br>
                @* <button type="submit" asp-page-handler="Button1" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
                    Get Organisations
                </button>
                <br>*@
                <button type="submit" asp-page-handler="Button2" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
                    Add New Orgaisation +
                </button>

            </fieldset>
        

        @if (@Model.Organisations != null && @Model.Organisations.Any())
        {
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Description</th>
                        <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var item in @Model.Organisations)
                    {
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">@item.Name</th>
                            <td class="govuk-table__cell">@item.Description</td>
                            <td class="govuk-table__cell">
                                <a asp-page="/OrganisationAdmin/OrganisationDetail" asp-route-id="@item.Id" style="color:blue" class="govuk-!-font-weight-bold govuk-body govuk-!-font-size-16">Edit</a>
                                @*<a asp-page="/OrganisationAdmin/CheckOrganisationDetailAnswers" asp-route-id="@item.Id" style="color:blue" class="govuk-!-font-weight-bold govuk-body govuk-!-font-size-16">TestCheckAnswers</a>*@
                            </td>
                        </tr>
                    }
          </tbody>
        </table>

        @if (@Model.Organisations != null && @Model.Organisations.Count() > 5)
        {
                <button type="submit" asp-page-handler="Button2" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
                    Add New Orgaisation +
                </button>    
        }
                

        }
        </form>
    </div>
</main>
