@page
@model FamilyHubs.ServiceDirectoryAdminUi.Ui.Pages.OrganisationAdmin.ServiceDeliveryTypeModel
@using static FamilyHubs.ServiceDirectoryAdminUi.Ui.Infrastructure.Configuration.PageConfiguration;

@{
    if (Model.UserFlow == "ManageService" && Model.LastPage == CheckServiceDetailsPageName)
    {
        <a asp-page="/OrganisationAdmin/CheckServiceDetails" class="govuk-back-link">Back</a>
    }
    else
    {
        <a asp-page="/OrganisationAdmin/TypeOfService" class="govuk-back-link">Back</a>
    }
}


<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post">
                <div class="govuk-form-group @(Model.ValidationValid == false ? "govuk-form-group--error" : "")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                How can families use the service?
                            </h1>
                        </legend>
                    </fieldset>

                    @*<input asp-for="@Model.StrOrganisationViewModel" type="hidden">*@

                    <div class="govuk-form-group">
                        <div id="delivery-hint" class="govuk-hint">
                            Select all that apply.
                        </div>
                        @{
                            if (Model.ValidationValid == false)
                            {
                                <p class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> You must select one or more options
                                </p>
                            }
                        }
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            @foreach (var item in Model.DictServiceDelivery)
                            {
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="@item.Value.ToLower().Replace(" ", "")" name="ServiceDeliverySelection" type="checkbox" value="@item.Key" @(Model.ServiceDeliverySelection != null && Model.ServiceDeliverySelection.Any(x => x == item.Key.ToString()) ? "checked" : "")> <!--aria-controls="baby-classes-conditional"!-->
                                    <label class="govuk-label govuk-checkboxes__label delivery-type__label" for="@item.Value.ToLower().Replace(" ", "")">
                                        @item.Value
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <button type="submit" class="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>
</main>
