@page
@model FamilyHubs.ServiceDirectoryAdminUi.Ui.Pages.OrganisationAdmin.ServiceNameModel
@{
}

@*<a asp-page="/OrganisationAdmin/Welcome" asp-route-strOrganisationViewModel="@Model.StrOrganisationViewModel" class="govuk-back-link">Back</a>*@
<a asp-page="/OrganisationAdmin/Welcome" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post">
                <div class="govuk-form-group @(Model.ValidationValid == false ? "govuk-form-group--error" : "")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                What is the name of the service?
                            </h1>
                        </legend>
                        @if (Model.ValidationValid == false)
                        {
                            <p class="govuk-error-message">
                                <span asp-validation-for="@Model.ServiceName" class="govuk-error-message"></span>
                            </p>
                        }
                        

                        @*@if (Model.ValidationValid == false)
                        {
                            <p class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> You must enter a service name
                            </p>
                        }*@

                        @*<input asp-for="@Model.StrOrganisationViewModel" type="hidden">*@
                        <div class="govuk-form-group">
                            <input class="govuk-input @(Model.ValidationValid == false ? "govuk-input--error" : "")" asp-for="@Model.ServiceName" type="text" maxlength="255" />
                        </div>
                    </fieldset>
                </div>

                <button type="submit" class="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>
</main>
