@page
@model FamilyHubs.ServiceDirectoryAdminUi.Ui.Pages.OrganisationAdmin.WhoForModel
@{
}

@*<a asp-page="/OrganisationAdmin/ServiceDeliveryType" asp-route-strOrganisationViewModel="@Model.StrOrganisationViewModel" class="govuk-back-link">Back</a>*@
<a asp-page="/OrganisationAdmin/ServiceDeliveryType" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post">
                <div class="govuk-form-group @(Model.ValidationValid == false ? "govuk-form-group--error" : "")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Can children or young people use the service?
                            </h1>
                        </legend>


                        @if (Model.OneOptionSelected == false)
                        {
                            <p class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> You must select one option
                            </p>
                        }



                        @if (Model.AgeRangeSelected == false)
                        {
                            <p class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Please select age range
                            </p>
                        }

                        @if (Model.ValidAgeRange == false)
                        {
                            <p class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Please select valid age range
                            </p>
                        }


                        @*<input asp-for="@Model.StrOrganisationViewModel" type="hidden">*@

                        <div class="govuk-form-group">
                            <div class="govuk-radios" data-module="govuk-radios">

                                <!-- Yes option selected -->
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="Children" name="Children" type="radio" value="Yes" aria-controls="age-range" @(Model.Children == "Yes" ? "checked='true'" : "")>
                                    <label class="govuk-label govuk-radios__label" for="Children">
                                        Yes, they can use the service
                                    </label>
                                </div>

                                <!-- Age range selection -->
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="age-range">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="SelectedMinAge">
                                            From
                                        </label>
                                        <select asp-for="SelectedMinAge" asp-items="Model.AgeRange" class="govuk-select">
                                            <option value="" selected disabled>Select age</option>
                                        </select>

                                    </div>
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="SelectedMaxAge">
                                            To
                                        </label>
                                        <select asp-for="SelectedMaxAge" asp-items="Model.AgeRange" class="govuk-select">
                                            <option value="" selected disabled>Select age</option>
                                        </select>

                                    </div>
                                </div>

                                <!-- No option selected -->
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="Children-2" name="Children" type="radio" value="No" @(Model.Children == "No" ? "checked='true'" : "")>
                                    <label class="govuk-label govuk-radios__label" for="Children-2">
                                        No, they cannot use the service
                                    </label>
                                </div>

                            </div>
                        </div>
                    </fieldset>
                </div>

                <button type="submit" class="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>
</main>