@page
@using FamilyHubs.ServiceDirectory.Admin.Core.Constants
@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.OrganisationAdmin.Pages.WhatLanguageModel
@{
    ViewData["Title"] = "What Language";
}
@if (Model.UserFlow == "ManageService" && Model.LastPage == PageConfiguration.CheckServiceDetailsPageName)
{
    <a asp-page="/OrganisationAdmin/CheckServiceDetails" class="govuk-back-link">Back</a>
}
else
{
    <a asp-page="/OrganisationAdmin/WhoFor" class="govuk-back-link">Back</a>
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div data-module="moj-add-another">
                <form method="post">
                    <div class="govuk-form-group--add-another-language @(Model.ValidationValid == false ? "govuk-form-group--error" : "")">

                        <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Which language is the service offered in?</h2>
                        <input asp-for="@Model.LanguageNumber" type="hidden">

                        @for (var i = 0; i < Model.LanguageNumber; i++)
                        {
                            <fieldset class="govuk-fieldset moj-add-another__item">

                                @if (Model.AllLanguagesSelected == false && Model.LanguageNotSelectedIndex == i)
                                {
                                    <p class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span> Please select a language
                                    </p>
                                }
                                
                                @if (Model.NoDuplicateLanguages == false && Model.LanguageNotSelectedIndex == i)
                                {
                                    <p class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span> Please select a different language
                                    </p>
                                }

                                <div class="govuk-form-group">
                                    <label for="LanguageCode@(i)" class="govuk-label">Select a language</label>
                                    <select class="govuk-select" id="LanguageCode@(i)" name="LanguageCode" asp-for="@Model.LanguageCode[i]" data-testid="language-select" asp-items="@Model.LanguageSelectionList"></select>
                                </div>

                                @if (Model.LanguageNumber > 1)
                                {
                                    <div class="moj-button-action">
                                        <button id="remove_@(i)" asp-page-handler="RemoveLanguage" asp-route-id="@i" class="govuk-button govuk-button--secondary moj-add-another__add-button" data-module="govuk-button">Remove</button>
                                    </div>
                                }
                            </fieldset>
                        }
                    </div>

                    <div class="moj-button-action">
                        <button asp-page-handler="AddAnotherLanguage" class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">Add another language</button>
                    </div>
                    <div class="moj-button-action">
                        <button class="govuk-button" data-module="govuk-button" asp-page-handler="NextPage" data-testid="button-continue">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>  
</main>