@page
@using FamilyHubs.ServiceDirectory.Admin.Core.ApiClient;
@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.SubjectAccessRequest.Pages.La.RequestDetailsModel
@{
    // string pageNamePrefix = (ReferralStatus) (int) Model.Referral.Status.Id switch
    // {
    //     ReferralStatus.Opened or ReferralStatus.New => "Request",
    //     ReferralStatus.Accepted => "Accepted request",
    //     ReferralStatus.Declined => "Declined request",
    //     _ => throw new ArgumentOutOfRangeException($"Unexpected status id {Model.Referral.Status.Id}")
    // };
    string pageNamePrefix = "Request";
    string pageName = $"{pageNamePrefix} {Model.Referral.Id:X6}";
    ViewData["Title"] = pageName;
}

@section Back {
    <a href="/La/SubjectAccessResultDetails"  class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@pageName</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Service details
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="@(Model.GetReferralServiceUrl(Model.Referral.ReferralServiceDto.Id))" rel="noreferrer noopener" target="_blank">@Model.Referral.ReferralServiceDto.Name (opens in a new tab)</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date updated
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Referral.LastModified?.ToString("dd MMM yyyy")
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date sent
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Referral.Created?.ToString("dd MMM yyyy")
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Status
                </dt>
                <dd class="govuk-summary-list__value">
                    <partial name="Shared/_laConnectionStatus" for="@Model.Referral" />
                </dd>
            </div>
        </dl>
    </div>
</div>

@if ((ReferralStatus)(int)Model.Referral.Status.Id == ReferralStatus.Declined)
{
    <div class="govuk-grid-row govuk-!-margin-top-2">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Reason for declining the connection request</h2>
            <p>@Model.Referral.ReasonForDecliningSupport</p>
        </div>
    </div>
}

<div class="govuk-grid-row govuk-!-margin-top-2">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Reason for the connection request</h2>
        <p>@Model.Referral.ReasonForSupport</p>
    </div>
</div>

<partial name="Shared/_RecipientContactDetails" for="@Model.Referral.RecipientDto" />

<div class="govuk-grid-row govuk-!-margin-top-2">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">How the service can engage with @Model.Referral.RecipientDto.Name</h2>
        <p>@Model.Referral.EngageWithFamily</p>
    </div>
</div>

